Backend/WebAPI/obj/Debug/net6.0/WebAPI.AssemblyInfo.cs
Backend/WebAPI/obj/Debug/net6.0/WebAPI.AssemblyInfo.cs
Backend/WebAPI/obj/Debug/net6.0/WebAPI.AssemblyInfoInputs.cache
Backend/WebAPI/obj/Debug/net6.0/WebAPI.assets.cache
Backend/WebAPI/obj/Debug/net6.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
Backend/WebAPI/obj/project.assets.json
Backend/WebAPI/obj/project.nuget.cache
Backend/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
Backend/WebAPI/obj/WebAPI.csproj.nuget.g.props

Backend/Application/obj
Backend/WebAPI/bin
Backend/WebAPI/obj